<header [ngClass]="{'header-hidden': headerHidden}">
    <nav>
      <ul class="nav-links">
        <li>
          <a routerLink="/dashboard"><i class="fas fa-home"></i> Home</a>
        </li>
        <li>
          <a routerLink="/login"><i class="fas fa-user"></i> Tenant</a>
        </li>
        <li>
          <a routerLink="/register"><i class="fas fa-cog"></i> Management</a>
        </li>
        <li>
          <a routerLink="/about"><i class="fas fa-info-circle"></i> About</a>
        </li>
        <li>
          <a routerLink="/contact"><i class="fas fa-envelope"></i> Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  